:root {
    --background-color: #D2D0C2;
}

@font-face {
    font-family: "LeagueSpartan";
    src: url("../assets/fonts/LeagueSpartan-VariableFont_wght.ttf") format("truetype");
}

body {
    background-color: var(--background-color);
    font-family: LeagueSpartan;
}

.navbar {
    width: 92%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo p {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
    color: #4153A3;
    text-shadow: 1px 1px rgb(105 122 219);
}

a {
    text-decoration: none;
}

.elipse {
    width: 100%;
    height: 100%;
}

.links > a {
    color: #4153A3;
    font-size: 16px;
    font-weight: bold;

}

.line {
    width: 100%;
    border: 1px solid #1A1A18;
}

/*MAIN section*/
.container {
    /*background-color: #ff8585;*/
    height: 900px;
    position: relative;
    margin-top: 16px;
}

.pattern {
    width: 350px;
    position: absolute;
}

.left {
    top: 0%;
    left: 0%;
}

.rigth {
    bottom: 44%;
    right: 0%;
}

.short-line {
    width: 32%;
    height: 75px;
    /*background-color: #1A1A18;*/
    position: absolute;
    top: 24%;
    left: 5%;
}

.line {
    width: 100%;
}

.subtittle {
    font-size: 80px;
    font-weight: normal;
    top: 8%;
    position: absolute;
    left: 5%;
    color: #4153A3;
}

.lema {
    font-size: 24px;
    top: 30%;
    position: absolute;
    left: 5%;
    color: #4153A3;
}

.horizon-lines {
    position: absolute;
    top: 60%;
    width: 50%;
    height: 200px;
}

.tittle {
    position: absolute;
    top: 25%;
    left: 33%;
    font-size: 180px;
    font-weight: bold;
    color: #4153A3;
    z-index: 1;
    text-align: right;
    text-shadow: -4px -4px rgb(65 83 163 / 0.7),
    -8px -8px rgb(65 83 163 / 0.5);
}

.tittle2 {
    position: absolute;
    top: 40%;
    left: 53%;
    font-size: 180px;
    font-weight: bold;
    color: #4153A3;
    text-shadow: -4px -4px rgb(65 83 163 / 0.7),
    -8px -8px rgb(65 83 163 / 0.5);
    z-index: 1;
}

.name {
    position: absolute;
    top: 55%;
    left: 19%;
    font-size: 40px;
}

.elipse-main {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 15%;
    left: 70%;
}

.cursor {
    width: 300px;
    height: 300px;
    z-index: 2;
    position: absolute;
    top: 55%;
    left: 75%;
}